.main {
  &__first_block{
      display: flex;
      justify-content: space-between;
      margin-top: 82px;


    button{
    margin-top: 62px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 30px;
    border-color: #14b86e;
    background-color: white;
    color: #14b86e;
    transition: 0.3s ease-in-out 0.3s;

    &:hover {
      color:white;
        cursor: pointer;
        background-color: #14b86e;
    }
  }

  }
  &__elements{
    flex-direction: column;
    margin-left: 98px;
  }


}
