.main {

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__block {

    height: 683px;
    background-image: url("../img/Frame2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 532px, 540px;

    justify-content: space-around;
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    margin-left: 100px  ;
    h5 {
      font-size: 20px;
      border-left: 3px solid #14b86e;
    }
    sub {
      font-size: 16px;
    }

  }

  &__bar2 {
    display: flex;
    justify-content: space-between;
    margin-top: 114px;

    h5 {
      font-size: 20px;
      border-left: 3px solid #14b86e;
    }
    sub {
      font-size: 16px;
    }

  }

  &__bar3 {
    display: flex;
    justify-content: space-between;
    margin-top: 114px;
    margin-left: 100px;

    h5 {
      font-size: 20px;
      border-left: 3px solid #14b86e ;
    }
    sub {
      font-size: 16px;
    }

  }

  &__second-block {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 186px;
    h3{
      font-size: 32px;
      margin-bottom: 41px;
    }

    h6{
      font-size: 16px;
      margin-top: 41spx;
      margin-bottom: 48px;

    }

    button{

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 44px;
    padding-right: 44px;
    border-radius: 30px;
    margin-bottom: 156px;
    border-color: $primary-color;
    background-color: white;
    color: $primary-color;
    transition: 0.3s ease-in-out 0.3s;

    &:hover {
      color:white;
        cursor: pointer;
        background-color: #14b86e;
    }
  }

  }

    &__third-block {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 100px;
      background-color: #FFE3B3;
      height: 477px;
  }

    &__textbox {
        width: 400px;
        height: 357px;
        font-size: 20px;
        border-radius: 20px;
        padding-left: 60px  ;
        background-image: url("../img/Group 895.png");
        background-repeat:no-repeat;
      background-color: #FFFFFF;
    }

    &__fourth-block {
      display: flex;
      justify-content: center;
       margin-top: 106px;

    &__text {

      h1{
      font-size: 32px;

      margin-bottom: 50px;
      }
      h4 {
        font-size: 20px;
      }
      }
    }

  &__fifth-block {

    display: flex;
    flex-direction: column;
    margin-top: 113px;


    h3{
      display: flex;
      justify-content: center;
      color: #14b86e;
      font-size: 32px;
    }

    h5{
      font-size: 20px;
    }


  }

    &__cards-block{
      display: flex;
      justify-content: space-between;
    }

    &__card {
      width: 350px;

      background-image: url("../img/Group 895.png");
      }
    &__text-card {
      display: flex;
      margin-right: 100px;
    }

    &__sub{
      display: flex;
      flex-direction: column;

      small{
        margin-top: 10px;
        color: #52575C;
      }


    }

    &__sixth-block {
      display: flex;
      flex-direction: column;
      margin-top: 207px;
      height: 407px;
      background-color: #25282B;
      background-image: url("../img/Group 995.png");
      background-position: right 25% bottom 50%;
      background-repeat: no-repeat;



    }
  &__textblock {
      display: flex;
      flex-direction: column;
      margin-left: 110px;
      margin-top: 50px;

    img {
      width: 24px;
      height: 24px;

    }
      &__card {
        display: flex;
        margin-bottom: 20px;

      }

      h3 {
        color: #F4F3F1;
      }

      sub {
        margin-top: 10px;
        margin-left: 14px;
        color: #F4F3F1;
      }

      button {
        margin-top: 20px;
        width:195px ;
        height: 58px;
        background-color:#14b86e;
        border-radius: 20px;
        color: white;
        transition: 0.3s ease-in-out 0.3s;

        &:hover {
          color:#14b86e;
            cursor: pointer;
            background-color: white;
          }
      }

}
}
