<header class="header">
  <div class="container">
    <!-- Логотип -->
   <a href="" class="header__logo"><img src="../img/svg/Group 993.svg" alt=""></a>
    <!-- Кнопка-бургер (сниппет g-burger) -->
    <button class="btn-reset burger" style="margin-right: 20px;"
            aria-label="Открыть меню"
            aria-expanded="false"
            data-burger>
      <span class="burger__line"></span>
    </button>

    <!-- Навигация (обязательно с data-menu) -->
    <nav class="header__nav" data-menu>
      <ul class="header__list">
        <li><a href="#main" class="header__link" data-menu-item >How it works</a></li>
        <li><a href="#about" class="header__link" data-menu-item style="color: #14b86e;">Why NewsletterApp?</a></li>
        <li><a href="#services" class="header__link" data-menu-item>Pricing</a></li>
        <li><a href="#contacts" class="header__link" data-menu-item>Blog</a></li>
      </ul>
      <button>Login</button>
    </nav>
  </div>
</header>
