<div class="main">
  <div class="container">
    <div class="main__first_block" >
      <div class="main__elements" style="margin-left: 10px;">
        <h1 style="font-weight: 300; font-size: 52px;">Bring back the joy of <br> reading newsletters</h1>
        <h5 style="color: #14b86e; font-weight: 300; font-size: 20px;">Discover, subscribe and manage all <br>your email newsletters in one place.</h5>
        <button>
        Try for free
        </button>
      </div>
      <img src="../img/Frame.png" alt="">
    </div>



  </div>
</div>
