<div class="main">
  <div class="container">
    <div class="main__text">
      <h2 style="font-size: 44px;">Why Newsletter-App? How to enjoy your feed?</h2>
      <h4 style="font: size 26px;color: #14b86e ;">Be ready for an amazing experience.</h4>
    </div>

    <div class="main__block">
            <div class="main__bar">
                 <div class="bar">
                <h5>Kill The Spam </h5>
                <sub>Use Newsletter email to <br> subscribe to newsletters. Win <br> the battle against spam. Earn <br> more time for a joyful reading.</sub>
            </div>
            <div class="bar">
                <h5>One-Click Unsubscribe</h5>
                <sub>Don’t like what you’re reading? <br> Remove the feed and never see <br> it again.</sub>
            </div>
            </div>

            <div class="main__bar2">
                <div class="bar" >
                <h5 >Be part of Newsletter community</h5>
                <sub>Join top experts for a chat on <br> the topics and trends that <br> m-atter to you.</sub>
            </div>
            <div class="bar">
                <h5 style=>Control Your Feed </h5>
                <sub>Group newsletters into folders, <br> create labels, quickly mark as <br> read and update the <br> appearance.</sub>
            </div>
            </div>

            <div class="main__bar3">
                <div class="bar">
                <h5 >Discover Newsletters </h5>
                <sub>Browse through your interests <br> and find the ultimate content. <br> Inspire yourself!</sub>
            </div>


            <div class="bar">
                <h5 >Enjoy Newsletter </h5>
                <sub>No ads and spam in this app. <br> Take reading and sharing to the <br> next level with Letterbox. </sub>
            </div>
    </div>



  </div>

  <div class="main__second-block">
            <div class="main__textbo">
            <h3>WHY NEWSLETTER-APP?</h3>
            <h6>Newsletter-App is a brand new application for <br> newsletters reading. With <br>
            Newsletter-App, you will have the chance to <br> bring back the joy of newsletter
            reading. <br>There are no ads, no spam emails and…</h6>
            <button>Read more</button>
            </div>


          </div>

  <div class="main__third-block">
    <div class="main__textbox">
      <h5 style="color: #14b86e;" >BUSINESS DEVELOPMENT</h5>
      <img src="../img/svg/image 38.svg" alt="">
      <h5>Lorem ipsum dolor sit amet, <br> adhuc nulla definiebas mei ad, <br>ei doming aperiam delicata <br> est. Lorem ipsum dolor sit <br> amet.</h5>
    </div>

    <div class="main__textbox">
      <h5 style="color: #14b86e;">DIGITAL MARKETING</h5>
      <img src="../img/svg/image 38.svg" alt="">
      <h5>Lorem ipsum dolor sit amet, <br> adhuc nulla definiebas mei ad, <br>ei doming aperiam delicata <br> est. Lorem ipsum dolor sit <br> amet.</h5>
    </div>

    <div class="main__textbox">
      <h5 style="color: #14b86e;" >TEHNOLOGIES</h5>
      <img src="../img/svg/image 38.svg" alt="">
      <h5>Lorem ipsum dolor sit amet, <br> adhuc nulla definiebas mei ad, <br>ei doming aperiam delicata <br> est. Lorem ipsum dolor sit <br> amet.</h5>
    </div>
  </div>

  <div class="main__fourth-block">
      <div class="main__text">
        <h1>
          Enjoy reading newsletters
        </h1>

        <h4>
          Read valuable, high-quality content based on <br> your intest and expertise
        </h4>
      </div>
    </div>

    <div class="main__fifth-block">

        <h3>Join 1000+ Happy Premium Users</h3>

        <div class="main__cards-block">
          <div class="main__card">
            <h5>Lorem ipsum dolor sit amet,<br>adhuc nulla definiebas mei ad,<br> ei doming aperiam delicata est.</h5>

            <div class="main__text-card">
              <img src="../img/01.png" alt="">
              <div class="main__sub">
                <sub style="margin-bottom: 10px;">Savannah Miles
              </sub>
              <small >brand manager</small>
              </div>



            </div>

          </div>

          <div class="main__card">
            <h5>Lorem ipsum dolor sit amet,<br>adhuc nulla definiebas mei ad,<br> ei doming aperiam delicata est.</h5>

            <div class="main__text-card">
              <img src="../img/01.png" alt="">
              <div class="main__sub">
                <sub style="margin-bottom: 10px;">Savannah Miles
              </sub>
              <small >brand manager</small>
              </div>



            </div>

          </div>

          <div class="main__card">
            <h5>Lorem ipsum dolor sit amet,<br>adhuc nulla definiebas mei ad,<br> ei doming aperiam delicata est.</h5>

            <div class="main__text-card">
              <img src="../img/01.png" alt="">
              <div class="main__sub">
                <sub style="margin-bottom: 10px;">Savannah Miles
              </sub>
              <small >brand manager</small>
              </div>



            </div>

          </div>


        </div>
      </div>

  <div class="main__sixth-block">
    <div class="main__textblock">
      <h3>Bring back the joy of reading newsletters</h3>
      <h5 style="color: #94DD8B;">Subscribe and be ready for an amazing experience</h5>

      <div class="main__textblock__card">
        <img src="../img/check.png" alt="">
        <sub>Save time and read your newsletters in one place.</sub>
      </div>

      <div class="main__textblock__card">
        <img src="../img/check.png" alt="">
        <sub>Organize your newsletter feed according to your interests.</sub>
      </div>
      <div class="main__textblock__card">
        <img src="../img/check.png" alt="">
        <sub>Forget about newsletters emails and focus only in reading.</sub>
      </div>




      <button>Subscribe</button>

    </div>



  </div>

